body{
	overflow-x: hidden;
	font-family: 'Poppins' , sans-serif;
}

.landing{
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(90deg,#1da1f2,#981ceb );
}

h4{
	color: white;
	font-weight: 200;
	font-size: 1.6rem;
	letter-spacing: .1rem;
	padding-top: 7rem;
	text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15); 
}

h1{
	color: white;
	font-weight: 200;
	font-size: 3rem;
	letter-spacing: .2rem;
	text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15); 
	padding: 1.8rem 0;
}

.home{
	padding-bottom: 7rem;
}
.fa-stack.fa-2x{
	font-size: 2.3rem;
}

.fa-stack-2x{
	opacity: .15;
}
.fa-stack-1x{
	opacity: .7;
}

.fa-globe-americas{
	opacity: 1;
	transform: scale(1.25);
}

.navbar-brand img{
	height: 3rem;
	padding-top: .2rem;
}
.navbar{
	background-image: linear-gradient(90deg,#1da1f2,#981ceb );
	padding: .3rem 0 .6rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, .15);
}

.nav-link{
	color: white !important;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: .12rem;
	font-size: 1.2rem;
	text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15); 
	margin-right: .8rem;
}
 .nav-link.active,
 .nav-link:hover{
 	border-bottom: .05rem solid white;
 }

.fa-asterisk{
	font-size: 1rem;
	margin-bottom: .5rem
}

h3{
	font-weight: 300;
}

.w-100{
	box-shadow: .2rem .2rem .2rem rgba(0, 0, 0, .1);

}

.fixed-background{
	padding: 12rem 0;
	background-image: url("https://lh3.googleusercontent.com/proxy/fcwLC_COl2ad2kZASG42Dn01MK9dueJFalaZx-gmKQsES6iJbIVLp5cPaEetFUSOie_RgYrjvUHw7ndc2l8GuLMXdV2ZWY_ATBQOaRHDnMbmt_KGIjF7");
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;	
	box-shadow: 0 0 1rem rgba(0, 0, 0, .25);

}

footer{
	background-image: linear-gradient(90deg,#1da1f2,#981ceb );
	box-shadow: 0 -1rem 1rem rgba(0, 0, 0, .15);
	padding: 2.5rem;
}

footer img{
	height: 3.5rem;
	margin: 0 auto 2rem;
}

footer a, footer p,
.socket a, .socket p{
	color: #fff;
	font-size: 1.2rem;
	font-weight: 300;
}
footer a:hover,
.socket a:hover{
	color: #fff;
}

ul.social{
	list-style-type: none;
	display: flex;
	max-width: 18rem;
	padding: 0;
	margin: 0 auto;
}
ul.social li{
	margin: 0 auto;
}
ul.social .fab{
	font-size: 2.2rem;
	transition: all 0.3s ease;

}


ul.social .fab:hover{
	color: #d1d1d1; 	
}


.socket{
	background-image: linear-gradient(90deg,#1da1f2,#981ceb );
	text-align: center;
	padding: 1rem;
	border-top: .05rem solid white;
}


@media(max-width: 1199.98px){

	h1{
		font-size: 2.6rem;
	}

	.fa-stack.fa-2x{
		font-size: 2rem;
	}

	.fixed-background{
		padding: 9rem 0;
		 
	}
}

@media (max-width: 991.98px){

	h1{
		font-size: 2rem;
	}

	.fa-stack.fa-2x{
		font-size: 1.7rem;
	}

	.fixed-background{
		padding: 7rem 0;
		 
	}
}





